@import "./variables.scss";

.is-accent {
	color: $accent;
}

.is-centered {
	border: 5px solid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.main-font {
	font-family: $font-main !important;
}

.alt-font {
	font-family: $font-alt !important;
}

.active-button {
	background-color: $foreground-color !important;
	color: $background-color !important;
}

.disabled-button {
	background-color: $border-inactive !important;
}

.terminal { 
	.prompt {
		&::before {
			content: "> ";
			display: inline-block;
		}

		font-family: $font-alt !important;
		font-weight: bold;
		text-transform: uppercase;

		span {
			margin-left: 0.5rem;
		}
	}
}

#about {
	&:active, &:hover, &:focus {
		div {
			color: $foreground-color !important;
		}
	}
}
