@import "./variables.scss";

.is-italic {
	font-family: "Satisfy" !important;
}

.is-accent {
	font-weight: bold;
	color: $accent !important;
}

.btn {
	color: $foreground-color !important;
	background-color: $background-color;
	border: 2px solid $lighter-background-color;
	border-radius: 12px;

	p {
		color: lighten($lighter-background-color, 25%) !important;
	}

	padding: 0.5rem !important;
	margin: 0.5rem !important;
	transition: 0.4s;

	&:hover,
	&:focus {
		border-color: lighten($lighter-background-color, 15%);

		p {
			color: $accent !important;
		}
	}
}

.rickroll {
	font-size: 15px !important;
	text-align: justify !important;
	font-weight: bold !important;
	font-family: sans-serif !important;
	min-height: 100vh !important;
	max-width: 800px !important;
	margin: 0 auto !important;
	color: transparent !important;
	background: url(https://media.giphy.com/media/Ju7l5y9osyymQ/giphy.gif) center/cover !important;
	-webkit-background-clip: text !important;
	background-clip: text !important;
	word-spacing: 0px !important;
	letter-spacing: -1px !important;
}
