@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import "./variables.scss";

:root {
	line-height: 1.5;

	color: $foreground-color;
	background-color: $background-color;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	color: transparent !important;
}

$link: $accent;
$title-color: $foreground-color;
$subtitle-color: $darker-foreground-color;
$body-color: $foreground-color;

div {
	font-family: $font-main !important;
}

span {
	font-family: $font-alt;
}

.tui-window {
	background-color: $background-color;
	box-shadow: none;
	color: transparent !important;
}

.tui-fieldset {
	legend {
		padding: 0px 6px;
	}

	&:hover, &:active, &:focus {
		border-color: $border-active;

		legend {
			color: $border-active;
		}
	}

	color: $border-inactive;
	border-color: $border-inactive;
}

.tui-button {
	font-family: $font-main !important;
	box-shadow: 10px 10px darken($color: #1a1a1a, $amount: 5%);
	padding: 0rem 1rem;
	margin: 0rem 3rem;
}

@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

.is-small {
	padding: 2em;
}

.navbar-item {
	padding: 0rem 1rem 0.5rem;

	&:hover, &:active, &:focus {
		color: $foreground-color !important;
		background-color: transparent !important;
	}

	color: $darker-foreground-color;
	font-family: $font-alt;
	font-weight: bold !important;
}
