$background-color: #121212;
$foreground-color: #ffffff;
$darker-foreground-color: #b3b3b3;

$accent: #1db954;
$accent-active: #1ed760;
$accent-inactive: $background-color;
$border-active: $accent-active;
$border-inactive: #535353;
$error: #e22134;

$font-main: "DM Mono";
$font-alt: "Anonymous Pro", monospace;
