@import "./animations";
@import "./mixins";
@import "./overrides";
@import "./variables";

#introduction {
    flex-direction: unset;

    .introduction-container {
        .content {
            margin: 2.5rem auto 2rem auto;

            .title {
                color: $foreground;
            }
        }
    }
}

#about {
    .about-container {
        .about-description {
            color: $foreground;
            font-size: 18px;
            font-weight: normal;
        }

        .tech-stack {
            span,
            svg, i {
                display: inline-block;
                vertical-align: middle;
            }

            svg, i {
                width: 36px;
                height: 36px;
                padding: 4px;

                display: inline-block;
                vertical-align: middle;
            }
            svg *,
            i * {
                width: 36px;
                height: 36px;
            }
        }
    
        .columns {
            padding: 12px 0px 12px 0px;
            h6 {
                color: $blue-desaturated;
                text-align: center;
            }

            .column {
                @include breakpoint(extra_small_devices) {
                    text-align: center;
                }

                .btn-alt {
                    font-weight: bold;
                    background-color: transparent;
                    color: $foreground;

                    @include breakpoint(extra_small_devices) {
                        border-radius: 4px;
                        background-color: #192022 !important;
                    }

                    @include breakpoint(small_devices) {
                        border: none !important;
                        margin: 3px !important;
                    }
                    
                    &:hover,
                    &:focus {
                        color: $foreground;
                        transform: translateX(0.5rem);
                    }
                }
            }
        }

        h1 {
            color: inherit !important;
            font-size: 36px !important;
            border-bottom: $blue-desaturated solid 4px;
            display: inline-block;
        }
    }
}

#projects {
    background-color: $background-alt;
    padding: 6rem 1.5rem;

    transform: skewY(-3deg);

    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transform: skewY(3deg);

        h1 {
            color: inherit !important;
            font-size: 36px;
            font-weight: bold;

            align-items: center;
            margin-bottom: 1rem;
        }
    }
}

#not-found {
    .not-found-container {
        color: $foreground;
        padding: 8rem;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .not-found-title {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        .not-found-description {
            text-align: center;
            font-size: 1.3rem;
            color: $foreground;
        }
    }
}