.nostalgia {
    box-sizing: border-box;
    margin: 0;

    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

    border: 20px solid transparent;
    height: 100vh;
    width: 100vw;

    .nostalgia-container {
        margin: 4em;
        text-align: center;

        .image {
            background: #fbf1c7;
            padding: 2rem;
            padding-bottom: 1em;
            box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);

            animation: 3s ease-in-out infinite;
            animation-name: floating;

            & > img {
                max-width: 100%;
                height: auto;
    
                box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
            }
        }
        .caption {
            margin-top: 2%;
            font-size: 2rem;
            font-style: italic;
            text-align: center;
            line-height: 1.5em;
        }
        .item {
            width: 30%;
            display: inline-block;
            margin-top: 2rem;

            .image:before {
                content: '';
                position: absolute;
                z-index: -1;
                transition: all 0.35s;
            }
        }
    }
}