$purple: #CA3CD8;
$minth: #AEFDDD;
$salmon: #FBD972;
$yellow: #D38A9B;
$orange: #D18058;
$red: #CC313D;
$pale-red: #D15249;
$amoggreen: #13C656;
$ditto: #B65EDD;

.secret {
    margin: 0;
    background: $orange;
    border: 20px solid $purple;
    border-right-width: 30px !important;
    animation: blink 2s steps(4) infinite;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    @keyframes blink {
        20% {
            border: 20px solid $minth; 
            background: $red;
        }
        40% {
            border: 20px solid $salmon;
            background: $pale-red;
        }
        60% {
            border: 20px solid $yellow;
            background: $amoggreen;
        }
        80% {
            border: 20px solid $purple;
            background: $ditto;
        }
    }
}

.secret-container {
    width: 495px;
    height: 525px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .secret-subcontainer {
        width: 1980px;
        height: 525px;
        animation: magic 0.4s steps(4) infinite;

        @keyframes magic {
            to {
                transform: translateX(-1980px);
            }
        }
    }
}

.ditto {
    width: 495px;
    float: left;

    .pixels {
        width: 15px;
        height: 15px;
        float: left;
    }
}


.one {
    .pixels {
        &:nth-child(172), &:nth-child(173), &:nth-child(174), &:nth-child(179), &:nth-child(180), &:nth-child(181),
        &:nth-child(204),&:nth-child(208),&:nth-child(211),&:nth-child(215),
        &:nth-child(236), &:nth-child(242),&:nth-child(243),&:nth-child(249),
        &:nth-child(268), &:nth-child(283),&:nth-child(284),
        &:nth-child(301), &:nth-child(318),&:nth-child(319),&:nth-child(320), &:nth-child(321),
        &:nth-child(333), &:nth-child(355),
        &:nth-child(366), &:nth-child(389),
        &:nth-child(399), &:nth-child(410), &:nth-child(423),
        &:nth-child(433), &:nth-child(456),
        &:nth-child(466), &:nth-child(483), &:nth-child(489),
        &:nth-child(500), &:nth-child(521),
        &:nth-child(533), &:nth-child(542), &:nth-child(543), &:nth-child(544), &:nth-child(554),
        &:nth-child(567), &:nth-child(578), &:nth-child(579), &:nth-child(580), &:nth-child(587),
        &:nth-child(600), &:nth-child(620),
        &:nth-child(633), &:nth-child(654),
        &:nth-child(666), &:nth-child(687),
        &:nth-child(698), &:nth-child(721),
        &:nth-child(731), &:nth-child(755),
        &:nth-child(763), &:nth-child(788),
        &:nth-child(796), &:nth-child(821),
        &:nth-child(829), &:nth-child(854),
        &:nth-child(863), &:nth-child(875), &:nth-child(876), &:nth-child(877), &:nth-child(878), &:nth-child(879), &:nth-child(880), &:nth-child(885), &:nth-child(886),
        &:nth-child(897), &:nth-child(898), &:nth-child(899), &:nth-child(900), &:nth-child(901), &:nth-child(902), &:nth-child(903), &:nth-child(904), &:nth-child(905), &:nth-child(906), &:nth-child(907), &:nth-child(914), &:nth-child(915), &:nth-child(916), &:nth-child(917) {
            background-color: black;
        }

        &:nth-child(205), &:nth-child(206), &:nth-child(238), &:nth-child(239), &:nth-child(240), &:nth-child(272), &:nth-child(273) {
            background-color: white;
        }
    }
}

.two {
    .pixels {
        &:nth-child(204),&:nth-child(205),
        &:nth-child(235), &:nth-child(236), &:nth-child(239),&:nth-child(240), &:nth-child(245), &:nth-child(246), &:nth-child(247), &:nth-child(248),
        &:nth-child(267), &:nth-child(274),&:nth-child(275), &:nth-child(276), &:nth-child(277), &:nth-child(282), &:nth-child(283),
        &:nth-child(300), &:nth-child(317),
        &:nth-child(332), &:nth-child(351), &:nth-child(352), &:nth-child(355), &:nth-child(356), &:nth-child(357),
        &:nth-child(365), &:nth-child(386), &:nth-child(387), &:nth-child(391),
        &:nth-child(398), &:nth-child(425),
        &:nth-child(431), &:nth-child(458),

        &:nth-child(465), &:nth-child(476), &:nth-child(491),
        &:nth-child(498), &:nth-child(515), &:nth-child(523),
        &:nth-child(531), &:nth-child(532), &:nth-child(556),
        &:nth-child(565), &:nth-child(589),
        &:nth-child(598), &:nth-child(599), &:nth-child(608), &:nth-child(609), &:nth-child(610), &:nth-child(611), &:nth-child(612), &:nth-child(613), &:nth-child(623),
        &:nth-child(632), &:nth-child(656),
        &:nth-child(665), &:nth-child(690),
        &:nth-child(698), &:nth-child(724),
        &:nth-child(730), &:nth-child(757),
        &:nth-child(763), &:nth-child(790),
        &:nth-child(795), &:nth-child(823),
        &:nth-child(828), &:nth-child(856),
        &:nth-child(862), &:nth-child(869), &:nth-child(870), &:nth-child(871), &:nth-child(872), &:nth-child(873), &:nth-child(874), &:nth-child(875), &:nth-child(876), &:nth-child(877), &:nth-child(878), &:nth-child(879), &:nth-child(888),
        &:nth-child(896), &:nth-child(897) ,&:nth-child(898), &:nth-child(899), &:nth-child(900), &:nth-child(901), &:nth-child(913), &:nth-child(914), &:nth-child(915), &:nth-child(916), &:nth-child(917), &:nth-child(918), &:nth-child(919), &:nth-child(920) {
            background-color: black;
        }

        &:nth-child(278), &:nth-child(279), &:nth-child(309), &:nth-child(310), &:nth-child(311), &:nth-child(312), &:nth-child(342), &:nth-child(343) {
            background-color: white;
        }
    }
}

.three {
    .pixels {
        &:nth-child(291), &:nth-child(292),
        &:nth-child(315), &:nth-child(316), &:nth-child(317), &:nth-child(318), &:nth-child(322), &:nth-child(323), &:nth-child(326), &:nth-child(327),
        &:nth-child(346), &:nth-child(347), &:nth-child(352), &:nth-child(353), &:nth-child(354), &:nth-child(361),
        &:nth-child(378), &:nth-child(394),
        &:nth-child(404), &:nth-child(405), &:nth-child(406), &:nth-child(409), &:nth-child(410), &:nth-child(428),
        &:nth-child(436), &:nth-child(440), &:nth-child(441), &:nth-child(461),
        &:nth-child(468), &:nth-child(494),
        &:nth-child(501), &:nth-child(526),
        &:nth-child(534), &:nth-child(548), &:nth-child(559),
        &:nth-child(566), &:nth-child(575), &:nth-child(592),
        &:nth-child(599), &:nth-child(624),
        &:nth-child(632), &:nth-child(656),
        &:nth-child(664), &:nth-child(675), &:nth-child(676), &:nth-child(677), &:nth-child(678), &:nth-child(679), &:nth-child(680), &:nth-child(689),
        &:nth-child(697), &:nth-child(722),
        &:nth-child(729), &:nth-child(756),
        &:nth-child(762), &:nth-child(790),
        &:nth-child(795), &:nth-child(823),
        &:nth-child(828), &:nth-child(856),
        &:nth-child(862), &:nth-child(863), &:nth-child(873), &:nth-child(874), &:nth-child(875), &:nth-child(876), &:nth-child(877), &:nth-child(878), &:nth-child(879), &:nth-child(880), &:nth-child(881), &:nth-child(888),
        &:nth-child(897), &:nth-child(898), &:nth-child(899), &:nth-child(900), &:nth-child(901), &:nth-child(902), &:nth-child(903), &:nth-child(904), &:nth-child(905), &:nth-child(915), &:nth-child(916), &:nth-child(917), &:nth-child(918), &:nth-child(919), &:nth-child(920) {
            background-color: black;
        }

        &:nth-child(381), &:nth-child(382), &:nth-child(412), &:nth-child(413), &:nth-child(414), &:nth-child(415), &:nth-child(445), &:nth-child(446) {
            background-color: white;
        }
    }
}

.four {
    .pixels {
        &:nth-child(58), &:nth-child(59), &:nth-child(60), &:nth-child(61),
        &:nth-child(90), &:nth-child(95),
        &:nth-child(122), &:nth-child(129),
        &:nth-child(149), &:nth-child(150), &:nth-child(151), &:nth-child(155), &:nth-child(162),
        &:nth-child(181), &:nth-child(185), &:nth-child(186), &:nth-child(187), &:nth-child(195),
        &:nth-child(213), &:nth-child(228),
        &:nth-child(244), &:nth-child(245), &:nth-child(261),
        &:nth-child(274), &:nth-child(275), &:nth-child(276), &:nth-child(294),
        &:nth-child(305), &:nth-child(306), &:nth-child(327),
        &:nth-child(337), &:nth-child(359),
        &:nth-child(369), &:nth-child(382), &:nth-child(392),
        &:nth-child(402), &:nth-child(425),
        &:nth-child(435), &:nth-child(442), &:nth-child(457),
        &:nth-child(469), &:nth-child(490),
        &:nth-child(502), &:nth-child(512), &:nth-child(513), &:nth-child(514), &:nth-child(523),
        &:nth-child(535), &:nth-child(542), &:nth-child(543), &:nth-child(544), &:nth-child(555),
        &:nth-child(568), &:nth-child(588),
        &:nth-child(600), &:nth-child(621),
        &:nth-child(633), &:nth-child(654),
        &:nth-child(665), &:nth-child(687),
        &:nth-child(698), &:nth-child(720),
        &:nth-child(730), &:nth-child(754),
        &:nth-child(763), &:nth-child(787),
        &:nth-child(796), &:nth-child(821),
        &:nth-child(829), &:nth-child(854),
        &:nth-child(863), &:nth-child(864), &:nth-child(869), &:nth-child(870), &:nth-child(871), &:nth-child(872), &:nth-child(873), &:nth-child(886),
        &:nth-child(898), &:nth-child(899), &:nth-child(900), &:nth-child(901), &:nth-child(907), &:nth-child(908), &:nth-child(909), &:nth-child(910), &:nth-child(911), &:nth-child(912), &:nth-child(913), &:nth-child(914), &:nth-child(915), &:nth-child(916), &:nth-child(917), &:nth-child(918) {
            background-color: black;
        }

        &:nth-child(216), &:nth-child(217), &:nth-child(247), &:nth-child(248), &:nth-child(249), &:nth-child(250), &:nth-child(280), &:nth-child(281) {
            background-color: white;
        }
    }
}
