$background: #0E1112;
$background-alt: #101415;
$foreground: #DADDE0;

$red: #F05959;
$yellow: #F3B94C;
$green: #5EE26B;
$aqua: #6EF0E3;
$blue: #307CF5;
$blue-desaturated: #758cb0;
$magenta: #F266C8;

.blue-text {
    color: $blue;
}