@import url("https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css");
@import url("https://cdn.jsdelivr.net/gh/aymanbagabas/iosevka-fonts@v6.1.2/dist/iosevka/iosevka.min.css");

html, body, #root {
    margin: 0 auto;
    height: 100%;

    color: #fff;
    background-color: #181818;

    scroll-behavior: smooth;

    h1 {
        font-size: 1.5em;
    }
}

a {
    color: #fff;
}

.background {
    background-image: url("../../assets/bg.gif");
}

.indent {
    margin-left: 1.2em;
}

/* ANIMATIONS */

.hover {
    transition: transform .2s ease;
}

.hover:hover {
    filter: none !important;
    transform: translateY(-0.5em);
}

.shake {
    animation: shake 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes shake {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-7px);
    }

    60% {
        transform: translateX(7px);
    }
}

/* FONTS */
.undertitle {
    text-align: left;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin: 0;
}

.iosevka {
    font-family: "Iosevka", sans-serif;
}

.victor-mono {
    font-family: "Victor Mono", monospace;
}

.victor-mono-i {
    font-family: "Victor Mono", monospace;
    font-style: italic;
}